@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --coral: rgb(234, 98, 92);
  /* TEXT COLORS */
  --primary-text-color: rgb(51, 51, 51);
  --secondary-text-color: rgb(119, 119, 119);
  /* FONT-SIZES */
  --text-s: 15px;
  --text-m: 18px;
  --text-l: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  background-attachment: fixed;
  background-image: image-set(
    url("./images/runners-1.jpg") 1x,
    url("./images/runners-1@2x.jpg") 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.component {
  background-color: white;
}

.container {
  margin: 0 auto;
  max-width: 80%;
  width: 1000px;
}

.button {
  width: 260px;
  padding: 12px;
  border: none;
  color: white;
  background-color: var(--coral);
  line-height: 1.5;
  font-size: var(--text-m);
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

/* HEADER START */
.header {
  padding: 30px 0 79.5px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 30px;
  justify-content: flex-end;
}

.header__link,
.header__help {
  display: block;
  color: var(--primary-text-color);
  margin-bottom: 6.5px;
  font-size: 15px;
}

.header__item {
  border-bottom: 1px solid transparent;
}

.header__item:hover {
  border-bottom: 1px solid;
}
.header__item:hover .header__link {
  color: rgb(102, 102, 102);
}
.header__help {
  margin: 0 0 0 40px;
  padding-bottom: 6.5px;
  border-bottom: 1px solid transparent;
}
.header__help:hover {
  color: rgb(102, 102, 102);
  border-bottom: 1px solid;
}
/* HEADER END */

/* SHOWCASE START */
.showcase {
  padding: 91px 0 185px;
  /* background-image: image-set(
    url("./images/intro-bg.png") 1x,
    url("./images/intro-bg-2x.png") 2x
  ); */
  background-image: url("./images/intro-bg.png");
  background-repeat: no-repeat;
  background-position: bottom 0 right -196px;
}

.chowcase__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 120%;
}

.showcase__text {
  padding-left: 40px;
  width: 490px;
  line-height: 1.5;
  color: var(--secondary-text-color);
  margin: 30px 0;
  border-left: 3px solid rgb(136, 136, 136);
}
/* SHOWCASE END */

/* FEATURES START */
.features {
  padding: 70px 0;
}

.feature__cards {
  display: grid;
  gap: 30px;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 280px);
}

.feature-card__title {
  color: rgb(34, 34, 34);
  font-size: var(--text-m);
  line-height: 1.5;
  text-transform: uppercase;
}

.feature-card__text {
  margin: 30px 0 20px;
  color: var(--primary-text-color);
  font-size: var(--text-s);
  line-height: 1.6;
}

.feature-card__link {
  text-transform: uppercase;
  color: var(--coral);
  line-height: 1.6;
  font-weight: 700;
}

.feature-card__link span {
  display: inline-block;
  width: 40px;
  border: 1.5px solid var(--coral);
  vertical-align: middle;
  margin-right: 10px;
}

.feature-card__blocks {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.feature-card__block {
  width: 8px;
  height: 8px;
  background-color: rgb(221, 221, 221);
}
/* FEATURES END */
/* BUY-NOW START */
.buy-now {
  padding: 70px 0;
}

.buy-now__wrapper {
  display: flex;
}

.buy-now__info {
  padding: 78px 0;
  flex-grow: 1;
}

.buy-now__title {
  font-size: var(--text-l);
  line-height: 1.2;
  width: 380px;
}

.buy-now__text {
  margin: 30px 0;
  width: 490px;
  padding-left: 40px;
  line-height: 1.5;
  color: var(--secondary-text-color);
  border-left: 3px solid rgb(136, 136, 136);
}
.buy-now__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* BUY-NOW END */
/* CONTROL HEALTH START */
.control {
  padding: 240px 0 240px;
}

.control .container {
  display: flex;
  justify-content: flex-end;
}
.control__info {
  width: 490px;
  color: white;
}

.control__title {
  line-height: 1.2;
  font-size: var(--text-l);
}

.control__text {
  line-height: 1.5;
  padding-left: 37px;
  border-left: 3px solid;
  margin: 30px 0;
}
/* CONTROL HEALTH END */
